
.section2{
    background: #f1f1f1;
    padding: 25px 0;
    font-family: Lato;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .96px;

    &_flex-wrapper{
    display:flex;
    gap: 12rem;

    }
    &-icon1,&-icon2,&-icon3{
       flex: 1 1 33%;
       display: flex;


       .round-bg{
        background-color: #ff9902;
        padding: 2.5rem;
        border-radius: 50%;
        box-shadow: 0 0.3rem 2rem #0000004f;
       }
       p
        {
            font-weight: 700;
            padding-left: 2rem;
        }
    }

}