@import '../../../styles/abstracts/varaible.scss';


.section1Wrapper{

    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
    // background-image:  linear-gradient(to right bottom, #f58320,#ff9902);
    padding: 5rem 0;

    &__form{
        background-image: linear-gradient(105deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 50%, transparent 50%),url(../../../assets/home1.jpg);
        background-size: contain;
        background-position: right;
        border-radius: 3px;
        // box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 20%);
        &_wrapper{
            width: 50%;
            padding: 6rem;
            
            h2{
                text-transform: uppercase;
                margin-bottom: 3rem;
                letter-spacing: 2px;
                font-size: 3.5rem;
                font-weight: 700;
                display: inline-block;
                // background-image: linear-gradient(to right, #7ed56f, #28b485);
                background-image: linear-gradient(to right bottom, #f58320,#ff9902);
                -webkit-background-clip: text;
                color: transparent;
                transition: all 0.2s;
            }
        }
    }
}

// .section1Wrapper{
//     display: flex;
//     flex-wrap: wrap;
//     height: 75vh;
//     width: 100%;

//     .section1Left{
//         background-image: url('../../../assets/land1.png');
//         background-position: center;
//         background-size: cover;
//         flex: 0 0 60%;
//     }
//     .section1Right{
//         background-color: #e7e3e3;
//         flex: 0 0 40%;
        

//         &_register{
//             background-color: #fff;
//             padding: 2rem;
//             border-radius: 7px;
//             box-shadow: 0rem 0px 8px rgba(7, 49, 69, .1);

//             &-card{
//                 background-color: $color-primary;
//                 height: 45rem;
//                 flex: 0 0 35%;
//                 border-radius: 7px;
//                 color: #fff;
//                 padding: 2rem 3rem;
//             }
//         }
//     }
// }