.heading-primary {
    color: $color-black;
    text-transform: uppercase;
    margin-bottom: 6rem;
  
    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
  
 
      @include respond(phone) {
        letter-spacing: 1rem;
        font-size: 5rem;
      }
    }
  
    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.4rem;
  
      @include respond(phone) {
        letter-spacing: 0.5rem;
      }
    }
  }
  
  .heading-secondary {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3.5rem;
    font-weight: 700;
    

 
  
    @include respond(tab-port) {
      font-size: 3rem;
    }
    @include respond(phone) {
      font-size: 2.5rem;
    }

  }
  